<div class='title'>
  <h1 class='www'>FoodTop</h1>
  <div class='link'>
    <div>aaaaaaaa</div>
    <div>aaaaaaaa</div>
    <div>aaaaaaaa</div>
    <div>aaaaaaaa</div>
    <div>aaaaaaaa</div>
    <div>aaaaaaaa</div>
  </div>
</div>
<div class='post'>
  <div class='left-sidebar'>
    <div class="sade-bar-link">
      <%= link_to "あああああ", "#", :target=>["_blank"], class: :side_bar_name %>
    </div>
    <div class="sade-bar-link">
      <%= link_to "あああああ", "#", :target=>["_blank"], class: :side_bar_name %>
    </div>
    <div class="sade-bar-link">
      <%= link_to "あああああ", "#", :target=>["_blank"], class: :side_bar_name %>
    </div>
  </div>
  <div class='main'>
    <div>わわわあわ</div>
  </div>
  <div class='light-sidebar'>
    <div>わわわあわ</div>
  </div>
</div>
<div class='show'>
  <div class='linka'>
    <%= link_to "あああああ", "#", :target=>["_blank"] %>
    <%= link_to "あああああ", "#", :target=>["_blank"] %>
    <%= link_to "あああああ", "#", :target=>["_blank"] %>
    <%= link_to "あああああ", "#", :target=>["_blank"] %>
  </div>
</div>
